a, h1, h2, h3 {
    color: #1f3347;
}

html {
    /*background: #354f68;*/
    background: #c6d3dc;
}

body {
    background: #fff;
    box-shadow: 0px 5px 15px #14293c;
    -webkit-box-shadow: 0px 5px 15px #14293c;
    -moz-box-shadow: 0px 5px 5px #14293c;
    font-family: sans-serif;
    margin: 2em auto;
    width: 600px;
}

.head, .page, .footer {
    padding: 12px;
}

.page {
    margin: 12px;
    padding: 0;
}

.head h1, h2 {
    font-family: 'Arial', sans-serif;
    letter-spacing: -.0625em;
    margin: 0;
}

.head h1 a {
    color: inherit;
    text-decoration: none;
}

.head h2 {
    font-size: 1.25em;
}

.head h3 {
    border-bottom: 2px solid #eee;
    font-size: 1em;
    margin: 0;
    padding-bottom: .5em;
}

.footer {
    border-top: 2px solid #eee;
    color: #ccc;
    font-size: .75em;
    margin: 12px;
    text-align: right;
}

.footer:hover {
    color: #888;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry {
    margin: 0.8em 1em;
}

.entry h1 {
    font-size: 1.25em;
}

.entry h2 {
    font-size: 1.25em;
}

.entry h3 {
    font-size: 1em;
}

.entry ul {
    list-style: square;
    margin: 0;
}

.entry ul li {
    color: #333;
}

.entry p {
    color: #333;
    font-family: "Georgia", serif;
    line-height: 1.25em;
}

.entry pre{
    border: 1px solid #bbaaaa;
    margin: 1em 0;
    padding: .5em;
    overflow: auto;
}

.extra {
    color: #888;
    font-family: "Georgia", serif;
    font-size: .75em;
    line-height: 1.25em;
    text-align: center;
}

/* OLD */
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
