{% extends "layout.html" %}
{% block body %}
   <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Summary:
        <dd><textarea name="summary" rows="5" cols="40">{{ summary }}</textarea>
        <dt>Text:
        <dd><textarea name="content" rows="5" cols="40">{{ text }}</textarea>
        <dt>Tags:
        <dd><input type="text" size="30" name="tags" value="{{ tags }}">
        <dt>Private:
        <dd><input type="checkbox" name="private" value="private">
        <dt>Published:
        <dd><input type="checkbox" name="published" value="published">
        <dd><input type="submit" value="Share">
      </dl>
  </form>
{% endblock %}
