{% extends "layout.html" %}
{% block body %}
   <form action="{{ url_for('save_entry') }}" method="post" class="edit-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title" value="{{ entry.title }}">
        <dt>Summary:
        <dd><textarea name="summary" rows="5" cols="40">{{ entry.summary }}</textarea>
        <dt>Text:
        <dd><textarea name="content" rows="5" cols="40">{{ entry.content or entry.html }}</textarea>
        <dt>Tags:
        <dd><input type="text" size="30" name="tags" value="{{ entry.tags | join(", ") }}">
        <dt>Private:
        <dd><input type="checkbox" name="private" value="private" {% if entry.private %}checked="checked"{% endif %}>
        <dt>Published:
        <dd><input type="checkbox" name="published" value="published" {% if entry.published %}checked="checked"{% endif %}>
	<dd><input type="hidden" name="id" value="{{ entry.id }} ">
        <dd><input type="submit" value="Save">
      </dl>
  </form>
{% endblock %}
