<!doctype html>
<html>
    <head>
        <title>Schrift</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='syntax.css') }}">
    </head>
    <body>
        <div class="head">
          <h1><a href="{{ url_for("show_entries") }}">Schrift</a></h1>
          <h3>Tired musings of a chief hacking officer.</h3>
        </div>
        <div class=page>
          {#<div class=metanav>
          {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
          {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
          {% endif %}
          </div>#}
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
          {% endfor %}
          {% block body %}{% endblock %}
        </div>
        <p class="footer">
            Running on <em>schrift</em>.
        </p>
    </body>
</html>
