{% extends "layout.html" %}
{% block body %}
  <h2>{{ entry.title }}</h2>
  <div class="entry">
      {{ entry.html|safe }}
  </div>
  <div class="extra">
    This post was added on {{ entry.pub_date|datetimeformat('%d-%m-%Y') }} by {{ entry.author.name }}.<br>
    {% if entry.prev %} &laquo; <a href="{{ url_for("show_entry", slug=entry.prev.slug) }}">Previous post</a> {% if entry.next %} - {% endif %} {% endif %} {% if entry.next %} <a href="{{ url_for("show_entry", slug=entry.next.slug) }}">Next post</a> &raquo; {% endif %}
  </div>
{% endblock %}
