{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in page.items %}
  <li><a href="{{ url_for('show_entry', slug=entry.slug) }}">{{ entry.title }}</a> at {{ entry.pub_date|datetimeformat('%d-%m-%Y') }} by {{ entry.author.name }}.</li>
  {% else %}
    <li><em>Nothing to see here.</em>
  {% endfor %}
  </ul>
  {% if page.has_prev %}<a href="{{ url_for('show_archive_page', page=page.prev_num) }}">Previous</a>{% endif %}
  {% if page.has_next %}<a href="{{ url_for('show_archive_page', page=page.next_num) }}">Next</a>{% endif %}
{% endblock %}
